
html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}


body {
    height: 100%;
    background-color: #e2e2e2 ;
}

header {
    height: 10%;
    background-color: white;
    flex-wrap: nowrap;

}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.header__title {
    color: #3b5bdb;
    font-weight: 500;
    font-size: 25px;
    font-style: bold;
}

.header__input--search{
 border-radius: 0px;
 background-color: #ebebeb;
 border-radius: 5px;
 padding: 15px 18px;
 width: 500px;

}

input {
    all:unset
}


main {
    border:  1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form__container {
    border: 1px solid red;
}